<html>
<head>
	<title>Gravbrøt IT</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/uot4igo.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="landing">
		<div class="intro">
			<!-- <h2>Registrer deg!</h2> -->
			<h2 class="tittle">Eventful</h2>
            <form action="/register" method="post">
            	<label>Navn:</label>
            	<input type="text" name="name"/><br/>

            	<label>E-mail:</label>
            	<input type="text" name="email"/>

            	<label>Brukernavn:</label>
            	<input type="text" name="username"/><br/>

            	<label>Password:</label>
            	<input type="password" name="password"/>

            	<label>Repeat password</label>
            	<input type="password" name="password2"/>

            	<input class="btn-blue" type="submit" value="Registrer!"/>
            </form>

            <!-- <a style="margin:1em;" class="btn-blue" href="/">Tilbake</a> -->
		</div>
	</div>
</body>
</html>
